# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=barangay_db

# reCAPTCHA
RECAPTCHA_SECRET=6LcXNOksAAAAAI9t798VvVZcxcr8WyoL7ZxTH3Fx

# Environment
APP_ENV=production
APP_DEBUG=false
